{% extends 'base.html' %}

{% load static %}

{% block title %}
{{ recipe.name }}
{% endblock %}

{% block content %}
    <h3>
        {{ recipe.name }}
    </h3>
    {% for image in recipe.images.all %}
        <img src="{{ image.recipe_image.url }}", alt="{{ image.description }}", width="500">
    {% empty %}
        <p>No images submitted</p>
    {% endfor %}
    <h4>
        <ul>
            <li><a href="{% url 'ledger:recipe_add_image' recipe.pk %}">Add Recipe Image</a></li>
        </ul>
    </h4>
    <h3>
        <em>Author - {{ recipe.author }}</em>
    </h3>
    
    <ol>
        {% for ingredient in recipe.ingredients.all %}
        <li>
            {{ ingredient.ingredient_field.name }} - {{ ingredient.quantity }}
        </li>
        {% endfor %}
    </ol>

    <h4>
        <ul><li>
            <a href="../recipes/list"> Go back to Recipe Book</a>
        </ul></li>
    </h4>
    <h6>
        <ul>
            <li> Created on {{ recipe.created_on }} </li>
            <li> Last updated {{ recipe.updated_on }} </li>
        </ul>
    </h6>
    
{% endblock %}